body{
    background-color:white;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.dishname{
    font-size: large;
}

.menutitle{
    font-size: x-large;
    margin: 10px;
}

.dishintro{
    margin:10px;
}

.menuintro{
    background-color:lightgray;
    margin-top:20px;
}

.food{
    vertical-align: center;
}

.navbar-collapse{
    background-color:lightgrey;
    text-align: center;
}

.item{
    border: 1px black;
}